*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #eee;
  font-family: 'Poppins', sans-serif;
  position: relative;
}
.container{
  background: #eee;
  height: 100vh;
}
.container h1{
  font-size: 3.7rem;
  margin-bottom: 20px;
}
form{
  box-shadow: 1px 2px 5px 1px black;
}
label{
  font-size: 2rem;
}
input[type="email"]{
  margin-bottom: 30px;
  border: 1px solid black;
}
input[type="submit"]{
  color: white;
}
#recovery-form{
  padding: 40px 30px;
}