body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}
.container{
  background: linear-gradient(45deg,#7e22ce98, #e604b9b9, #0164d5b9);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}
form{
  max-width: 500px;
  width: 100%;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
}
.form-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
}
.register{
  max-width: 700px;
  width: 100%;
}
form input[type="text"], input[type="email"], input[type="password"]{
  display: block;
  max-width: 450px;
  width: 100%;
  margin: 9px 0;
  padding: 15px;
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  border-radius: 3px;
  background-color: #eee;
  border: none;
}
form input:focus{
  outline: none;
  border: 1px solid #7e22ce;
}
form h1{
  font-size: 3.4rem;
  color: #7e22ce;
  text-decoration: underline;
}
form input::placeholder{
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
}
form input[type="submit"]{
  border: none;
  background-color: #7e22ce;
  color: var(--white-color);
  padding: 15px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s linear;
  font-weight: bold;
  font-size: 1.9rem;
  transition: all 0.5s ease-in-out;
  font-family: 'Poppins', sans-serif;
}
form input[type="submit"]:hover{
  opacity: 0.7;
}
form p{
  font-size: 1.9rem;
  margin: 5px 0;
  color: black;
}
@media (max-width: 500px){
  header{
    display: none;
  }
  h1{
    font-size:3.6rem;
    text-align: center;
  }
  form{
    width: 95%;
  }
  .container{
    height: 100vh;
  }
  .form-flex{
    flex-direction: column;
  }
}
@media (max-width: 375px){
  .register{
    padding: 15px;
    margin-top: 40px;
    margin-bottom: 10px;
  }
}
