@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&display=swap');

:root{
  --black-color: #000000;
  --blue-color: #7e22ce;
  --gray-color: #6e6e6e;
  --white-color: #ffffff;
}
body{
  font-family: 'Bricolage Grotesque', sans-serif;
}
html{
  font-size: 62.5%;
}
.posts{
  margin: 0 auto;
  max-width: 700px; 
  width: 95%;
}
.user{
  display: flex;
  align-items: center;
  padding: 0;
}
.container{
  box-shadow: 1px 2px 5px 1px var(--black-color);
  border-radius: 10px; 
  padding: 20px; 
  margin-bottom: 50px;
}
.post-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-info .tag h1{
  color: var(--gray-color);
  font-size: 1.3rem;
  box-shadow: 1px 2px 5px 1px var(--black-color);
  border-radius: 30px;
  padding: 6px;
}
.user .user-img{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
  width: 60px;
  height: 60px;
  color: var(--white-color);
  box-shadow: 1px 2px 5px 1px var(--black-color);
  background-color: var(--blue-color);
}
.user-img h1{
  font-size: 2.7rem;
}
.user .fa-solid{
  font-size: 2.5rem;
  border: 1px solid var(--black-color);
  border-radius: 50%;
  padding: 16px 18px;
}
.name-and-date p{
  font-size: 2rem;
  margin-bottom: 0;
}
.name-and-date span{
  font-size: 1.4rem; 
  color: var(--gray-color); 
  font-style: italic;
}
.post-content .title{
  margin: 20px 0 10px 0; 
  font-size: 1.7rem; 
  color: var(--gray-color);
}
.post-content .message{
  margin-bottom: 20px; 
  font-size: 2.2rem; 
  line-height: 1.4;
}
.my-posts{
  margin: 0 auto; max-width: 700px; width: 95%;
  margin-bottom: 30px;
}
@media (max-width: 375px){
  .post-info{
    flex-direction: column;
    align-items: flex-start;
  }
  .post-info .tag h1{
    margin-top: 20px;
  }
}