@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&display=swap');

:root{
  --bg-blue-color: #3b3692;
  --pink-color: #ff00cc;
  --blue-color: #7e22ce;
  --white-color: #ffffff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body{
  font-family: 'Bricolage Grotesque', sans-serif;
}
.modal-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(100deg, var(--bg-blue-color),var(--pink-color));
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  left: 0;
}
.modal{
  position: relative;
  background-color: var(--white-color);
  width: 500px;
  max-width: 90%;
  text-align: center;
  padding: 80px 0 50px 0;
  border-radius: 3px;
}
.modal img{
  width: 120px;
  top: -60px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.modal p{
  font-size: 3.2rem;
  opacity: 0.6;
}
.modal .last-p{
  font-size: 2rem;
  padding-top: 10px;
  padding-bottom: 40px;
}
.modal a{
  padding: 10px 17px;
  border-radius: 30px;
  background-color: var(--blue-color);
  text-decoration: none;
  color: var(--white-color);
  font-size: 2rem;
  font-family: 'Bricolage Grotesque', sans-serif;
}