*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 65.5%;
}
.main{
  width: 1200px;
  max-width: 95%;
  background-color: #7e22ce;
  margin: 20px auto 50px auto;
  border-radius: 5px;
  padding: 40px;
  text-align: center;
}
.main h1{
  font-size: 6rem;
  font-weight: 500;
}
.main p{
  font-size: 2.6rem;
  line-height: 1.5;
  color: white;
  margin-top: 30px;;
}