@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Kanit:wght@300&family=Karla:wght@400;700&family=Labrada:ital,wght@1,300&family=Lexend+Deca&family=Nunito:ital,wght@1,200&family=Open+Sans&family=Playfair+Display:wght@900&family=Poppins&family=Quicksand:wght@300;500&family=Raleway:wght@400;700&family=Roboto+Mono:wght@700&family=Tilt+Neon&family=Titillium+Web:wght@700&family=Ubuntu:wght@700&display=swap');
:root{
  --blue-color: #0000ff;
  --white-color: #ffffff;
  --black-color: #000000;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}
form{
  max-width: 500px;
  width: 100%;
  border: 1px solid var(--black-color);
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 50px;
}
form input{
  display: block;
  max-width: 450px;
  width: 100%;
  margin: 9px 0;
  padding: 15px;
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  border-radius: 3px;
  background-color: #eee;
  border: 1px solid var(--black-color);
}
form input:focus{
  outline: none;
  border: 1px solid var(--blue-color);
}
h1{
  font-size: 3.4rem;
  color: var(--black-color);
  text-align: center;
}
form input::placeholder{
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
}
form input[type="submit"]{
  border: none;
  background-color: var(--blue-color);
  color: var(--white-color);
  cursor: pointer;
  transition: all 0.3s linear;
  font-weight: bold;
  font-size: 1.9rem;
  transition: all 0.5s ease-in-out;
  font-family: 'Poppins', sans-serif;
}
form input[type="submit"]:hover{
  opacity: 0.7;
}
@media (max-width: 884px){
  h1{
    font-size: 2.9rem;
  }
}
@media (max-width: 500px){
  h1{
    font-size: 2rem;
    text-align: center;
  }
  form{
    width: 95%;
    margin: 0 auto;
    padding: 15px;
    margin-top: 20px;
  }
}