@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Kanit:wght@300&family=Karla:wght@400;700&family=Labrada:ital,wght@1,300&family=Lexend+Deca&family=Nunito:ital,wght@1,200&family=Open+Sans&family=Playfair+Display:wght@900&family=Poppins&family=Quicksand:wght@300;500&family=Raleway:wght@400;700&family=Roboto+Mono:wght@700&family=Tilt+Neon&family=Titillium+Web:wght@700&family=Ubuntu:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Kanit', sans-serif;
}
.main{
  background: url('image-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 89vh; */
  /* position: absolute;
  margin-top: 90px; */
  /* top: 90px; */
  /* left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center; */
}
header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
header h1{
  font-size: 2.8rem;
  /* color: #0000ff; */
}
header span{
  color: black;
}
nav ul li{
  display: inline;
  list-style: none;
}
nav li a{
  text-decoration: none;
  font-size: 1.5rem;
  color: #0000ff;
  margin-left: 20px;
  margin-right: 20px;
}
nav li a.active{
  border-bottom: 1px solid #0000ff;
}
nav li .login{
  background-color: #0000ff;
  color: white;
  padding: 10px 30px 14px 30px;
  font-size: 1.6rem;
  border-radius: 3px;
}
.foot{
  background-color:#0000ff;
  width: 100%;
  /* height: 800px; */
}